QUES1 -  Discuss string slicing and provide examples

using slicing we can extract substrings from a string. It helps us to access some part of the string which we need for further use.

In [3]:
#EXAMPLE1 : 
a = "I am a girl"
a[:-4]

'I am a '

In [5]:
# EXAMPLE2 :
b = "banana"
b[::-1]

'ananab'

QUES2 -  Explain the key features of lists in Python

1. Lists can hold items of various data types like numbers, strings, even other lists
2.lists are mutable
3.it is an ordered collection of items.
4.lists are versatile for storing and managing collections that might change.

QUES3 - Describe how to access , modify and delete elements in a list with examples

In [6]:
#EXAMPLE1 - accessing elements 
list = ["apple", "banana", "orange"]
list[2]

'orange'

In [8]:
#EXAMPLE2 - modifying elements
list = ["apple", "banana", "orange"]
list [1] = "mango"
list

['apple', 'mango', 'orange']

In [10]:
#EXAMPLE3 - deleting elements
list = ["apple", "banana", "orange"]
list.pop()
list

['apple', 'banana']

QUES4 -Compare and contrast tuples and lists with examples

TUPLES - Tuples are ordered collection of data which is similar to lists. They are immutable hence they cannot be modified.Once created the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.They are stored in open brackets.
### EXAMPLE -

In [3]:
a = ("pencil","eraser","scale")
type(a)

tuple

LISTS - Lists are ordered collection of data. They are mutable hence they can be modified. Lists can hold items of various data types like numbers, strings, even other lists. Lists are versatile for storing and managing collections that might change.Elements in a list can be modified, deleted, added using slicing and indexing. They are stored in square brackets. 
### EXAMPLE -

In [5]:
b = ["true","saroj",3, 5.3]
type(b)

list

QUES 5 - DescrIbe the key features of sets and provide examples of their use

1. sets are unordered and unique collection of items.
2. they are mutable and hence they can be modified
3. they do not allow any duplicate items
4. indexing will not work here.

In [9]:
#example of unordered
s = {1,2.6,4,3.1}
s

{1, 2.6, 3.1, 4}

In [10]:
s = {1,2.6,4,3.1} #no indexing
s(0)

TypeError: 'set' object is not callable

In [12]:
b = {"tanvi","rita","meena","tanvi"} #no duplication
b

{'meena', 'rita', 'tanvi'}

QUES 6 - Discuss the use cases of tuples and sets in Python programming

Tuples are useful for representing fixed datasets or configurations.
# example : 
employee_id,aadhaar card number etc

In [14]:
#use case
emp_id= ("vikas","vijay","rohit")
emp_id(1)== "rita"

TypeError: 'tuple' object is not callable

SETS - No duplication

In [16]:
#use case
list1 = [1,2,3,"mango","apple","banana"]
set(list1)

{1, 2, 3, 'apple', 'banana', 'mango'}

In [17]:
s = {1,3,5,6,4,5,3,3.2,5}
print(s)

{1, 3, 4, 5, 6, 3.2}

QUES 7 -  Describe how to add,modify and delete items in a dictionary with examples

In [14]:
#Adding items :
d = {"name":"tanvi","age":"20"}
d

{'name': 'tanvi', 'age': '20'}

In [18]:
d["address"] = "delhi"
d

{'name': 'tanvi', 'age': '20', 'address': 'delhi'}

In [22]:
#modifying items
d

{'name': 'tanvi', 'age': '20', 'address': 'delhi'}

In [26]:
d["age"]= 18
d

{'name': 'tanvi', 'age': 18, 'address': 'delhi'}

In [27]:
#deleting items
d = {'name': 'tanvi', 'age': 18, 'address': 'delhi'}
del d["address"]
d

{'name': 'tanvi', 'age': 18}

QUES 8 - discuss the importance of dictionary keys being immutable and provide examples

Dictionary keys are immutable because if they would be mutable its value could change and thus its hash could also change.But since whoever changes the key object can't tell that it was being used as a dictionary key, it can't move the entry around in the dictionary.
###  example

In [30]:
d = {[1,2,3,4]:"contact"} #lists cannot be keys because they are mutable
d

TypeError: unhashable type: 'list'